body {
    background-color: lightgray;
}

.jumbotron {
    position: absolute;
    width: 70%;
    left: 15%;
    right: 15%;
}

td{
    text-align: center;
    vertical-align: middle;
    letter-spacing: 2px;
    font-size: 15px;
}


